{% extends 'base.html' %}
{% block title %}
{{ gad_detail.title }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>{{ gad_detail.title }}</h1>
            <div class="alert alert-info">
                <h2>{{ gad_detail.title }}</h2>
                <p>{{ gad_detail.content }}</p>
                <p><b>Дата: {{ gad_detail.tm.date() }}</b></p>
                <a href="/all/{{ gad_detail.id }}/update" class = "btn btn-warning">Изменить</a>
                <a href="/all/{{ gad_detail.id }}/delete" class = "btn btn-danger">Удалить</a>
            </div>

    </div>

{% endblock %}