{% extends 'base.html' %}

{% block title %}
    Доска объявлений
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Новое объявление</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="from-control" placeholder="Введите название объявления"><br><br>
{#        <textarea name="intro" id="intro" class="from-control"></textarea><br>#}
        <textarea name="content" id="content" class="from-control" placeholder="Введите текст объявления"></textarea><br><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br><br>
    </form>
</div>
{% endblock %}

{#<p>Создавайте, изменяйте, удаляйте объявления.#}
{#    <form action="{{ url_for('add_ad') }}" method="post">#}
{#    <p><label>Введите заголовок объявления: </label> <input type="text" name="title" value="" required />#}
{#    <p><label>Введите содержание объявления: </label>#}
{#    <p><textarea name="content" rows="7" cols="40"></textarea>#}
{#    <p><input type="Submit" value="Отправить"/>#}
{#    </form>#}
{#{% endblock %}#}