{% extends 'base.html' %}
{% block title %}
    Список объявлений
{% endblock %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список объявлений</h1>
    <p class="lead">Здесь опубликованы объявления</p>
<div class="container">
{#      {% for a in ad %}#}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><a href="/"></a></h4>
{#          <h4 class="my-0 font-weight-normal"><a href="{{ url_for('show_ad', id_ad=a.id)}}">{{a.title}}</a></h4>#}
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
        <p class="annonce"></p>
{#                    <p class="annonce">{{ a.content[:50]}}</p>#}
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="/"></a></button>
{#        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="{{ url_for('show_ad', id_ad=a.id)}}">{{a.title}}</a></button>#}
      </div>
    </div>
  </div>
{#      {% endfor %}#}

</div>
{% endblock %}

